In [1]:
import pandas as pd
import numpy as np

In [2]:
eluvio = pd.read_csv('../Practice/Eluvio_DS_Challenge.csv')

In [3]:
eluvio.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [4]:
eluvio.isnull().sum()

time_created    0
date_created    0
up_votes        0
down_votes      0
title           0
over_18         0
author          0
category        0
dtype: int64

In [5]:
eluvio.shape

(509236, 8)

In [6]:
eluvio.dtypes

time_created     int64
date_created    object
up_votes         int64
down_votes       int64
title           object
over_18           bool
author          object
category        object
dtype: object

In [7]:
eluvio['up_votes'].value_counts()

0       93555
1       46619
2       44195
3       36112
4       29917
        ...
6196        1
6881        1
6509        1
4850        1
3806        1
Name: up_votes, Length: 5782, dtype: int64

In [8]:
eluvio['down_votes'].value_counts()

0    509236
Name: down_votes, dtype: int64

In [9]:
eluvio['over_18'].value_counts()

False    508916
True        320
Name: over_18, dtype: int64

In [10]:
eluvio['author'].value_counts()

davidreiss666     8897
anutensil         5730
DoremusJessup     5037
maxwellhill       4023
igeldard          4013
                  ...
reader-red           1
metheviewer          1
mellamostephen       1
Heavenandhull        1
wrameerez            1
Name: author, Length: 85838, dtype: int64

In [11]:
eluvio['category'].value_counts()

worldnews    509236
Name: category, dtype: int64

In [12]:
eluvio.sort_values('up_votes', ascending=False)

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
377200,1434818471,2015-06-20,21253,0,A biotech startup has managed to 3-D print fak...,False,KRISHNA53,worldnews
391415,1440421079,2015-08-24,13435,0,Twitter has forced 30 websites that archive po...,False,joeyoungblood,worldnews
450818,1459706506,2016-04-03,13244,0,2.6 terabyte leak of Panamanian shell company ...,False,mister_geaux,worldnews
391318,1440367768,2015-08-23,12333,0,The police officer who leaked the footage of t...,False,navysealassulter,worldnews
390252,1439939168,2015-08-18,11288,0,Paris shooting survivor suing French media for...,False,seapiglet,worldnews
...,...,...,...,...,...,...,...,...
220099,1381644882,2013-10-13,0,0,Chinese Premier Li Keqiang has been granted th...,False,davidreiss666,worldnews
431262,1453107414,2016-01-18,0,0,Taliban denies role in latest Afghanistan bombing,False,raziinuaq,worldnews
220101,1381645228,2013-10-13,0,0,Possible lead in Madeleine McCann case,False,CristabelYYC,worldnews
431259,1453107145,2016-01-18,0,0,Suicide Attack Kills at Least 13 in Afghanistan,False,middleeastnewsman,worldnews
254618,1392908762,2014-02-20,0,0,Ukraine protesters take 67 policemen hostage -...,False,mystikalhereigo,worldnews

In [13]:
eluvio.sort_values('over_18', ascending=False)

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
63784,1283380456,2010-09-01,22,0,Ghanaian prostitutes in Nigeria on strike (som...,True,Barney21,worldnews
508376,1479492875,2016-11-18,6,0,Jungle Justice : Public lynching of a street ...,True,avivi_,worldnews
295477,1407377021,2014-08-07,30,0,[NSFW] Ebola victims left to rot in Liberia st...,True,marx2k,worldnews
438315,1455308528,2016-02-12,6,0,French court has ruled over a battle between F...,True,foundafreeusername,worldnews
78831,1299276274,2011-03-04,202,0,WARNING GRAPHIC NSFW: UNARMED women just want...,True,Marvelous_Margarine,worldnews
...,...,...,...,...,...,...,...,...
169792,1364734972,2013-03-31,14,0,Journey to the Slaughterhouse - Investigation ...,False,anutensil,worldnews
169791,1364734390,2013-03-31,17,0,Bride being smuggled into Palestine through tu...,False,sirvoice,worldnews
169790,1364734285,2013-03-31,26,0,China: A new colonial power? China takes from...,False,moses_herzog,worldnews
169789,1364734052,2013-03-31,130,0,Kuwait online activist jailed for 2 years for ...,False,hoosakiwi,worldnews
509235,1479817346,2016-11-22,1,0,Palestinian wielding knife shot dead in West B...,False,superislam,worldnews

In [16]:
# Converting over_18 column from boolean to integers

eluvio.over_18.astype(int)

0         0
1         0
2         0
3         0
4         0
         ..
509231    0
509232    0
509233    0
509234    0
509235    0
Name: over_18, Length: 509236, dtype: int64

In [ ]:
# Dropping down_votes column since there are none
eluvio.drop(columns='down_votes', inplace=True)