# World News NLP Project
#### Adam Zucker
---

## Problem

Statement

---

## Background

Background

---

## Data

Data Dict?

---

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import spacy
from spacy import displacy

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from nltk.tokenize import RegexpTokenizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
# Reading in data
df = pd.read_csv('../data/world_news_posts.csv')

In [3]:
df.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
0,1201232046,2008-01-25,3,0,Scores killed in Pakistan clashes,False,polar,worldnews
1,1201232075,2008-01-25,2,0,Japan resumes refuelling mission,False,polar,worldnews
2,1201232523,2008-01-25,3,0,US presses Egypt on Gaza border,False,polar,worldnews
3,1201233290,2008-01-25,1,0,Jump-start economy: Give health care to all,False,fadi420,worldnews
4,1201274720,2008-01-25,4,0,Council of Europe bashes EU&UN terror blacklist,False,mhermans,worldnews

In [4]:
# Checking for nulls in the dataframe - none detected
df.isnull().sum()

time_created    0
date_created    0
up_votes        0
down_votes      0
title           0
over_18         0
author          0
category        0
dtype: int64

In [5]:
df['over_18'].value_counts()

False    508916
True        320
Name: over_18, dtype: int64

In [6]:
# Checking title content of some of the posts classified as "over_18"
df[df['over_18'] == True]

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
1885,1206381438,2008-03-24,189,0,Pics from the Tibetan protests - more graphic ...,True,pressed,worldnews
6721,1211138718,2008-05-18,5,0,"MI5 linked to Max Mosley’s Nazi-style, sadomas...",True,alllie,worldnews
8414,1212694925,2008-06-05,0,0,Tabloid Horrifies Germany: Poland s Yellow Pre...,True,stesch,worldnews
12163,1216672016,2008-07-21,0,0,Love Parade Dortmund: Techno Festival Breaks R...,True,stesch,worldnews
12699,1217381380,2008-07-30,5,0,IDF kills young Palestinian boy. Potentially N...,True,cup,worldnews
...,...,...,...,...,...,...,...,...
503776,1477889966,2016-10-31,4,0,Latest Italian Earthquake Devastates Medieval ...,True,pixelinthe,worldnews
508067,1479400229,2016-11-17,12,0,ISIS Release Video Showing Melbourne As A Poss...,True,halacska,worldnews
508176,1479434681,2016-11-18,0,0,Animal welfare activists have released footage...,True,NinjaDiscoJesus,worldnews
508376,1479492875,2016-11-18,6,0,Jungle Justice : Public lynching of a street ...,True,avivi_,worldnews
508706,1479641575,2016-11-20,0,0,[NSFW] Teenage boy run over by Iraqi army tan...,True,atyzer,worldnews

In [7]:
nsfw = df[df['over_18'] == True]
nsfw.head()

,time_created,date_created,up_votes,down_votes,title,over_18,author,category
1885,1206381438,2008-03-24,189,0,Pics from the Tibetan protests - more graphic ...,True,pressed,worldnews
6721,1211138718,2008-05-18,5,0,"MI5 linked to Max Mosley’s Nazi-style, sadomas...",True,alllie,worldnews
8414,1212694925,2008-06-05,0,0,Tabloid Horrifies Germany: Poland s Yellow Pre...,True,stesch,worldnews
12163,1216672016,2008-07-21,0,0,Love Parade Dortmund: Techno Festival Breaks R...,True,stesch,worldnews
12699,1217381380,2008-07-30,5,0,IDF kills young Palestinian boy. Potentially N...,True,cup,worldnews

In [8]:
df['category'].value_counts()

worldnews    509236
Name: category, dtype: int64

---

In [9]:
nlp = spacy.load('en_core_web_trf')

In [10]:
titles = df['title']

In [11]:
# for t in titles:
#     doc = nlp(t)

In [12]:
df.index

RangeIndex(start=0, stop=509236, step=1)

In [14]:
# Creating dictionary to hold function output with keys matching the df index. Soft coding with .index will allow flexibility in the future.
docs_dict = dict.fromkeys(range(len(df.index)), [])


for key, value in docs_dict:
    
# Will have to specify that t in titles cannot be null/skip if null
for t in titles:
    if t == np.nan:
        continue
    elif t != np.nan:

IndentationError: expected an indented block (<ipython-input-14-f62c3bb0c9b7>, line 8)

In [ ]:
def displacy_title():

In [ ]:
df['noun_phrases'] = [chunk.text for chunk in doc.noun_chunks]

In [32]:
def title_deconstruct(title):
    for t in titles:
        
        # This is just reassigning "doc" with each iteration, and isn't storing anything useful. At the end "doc" will == nlp(t_n-1)
        doc = nlp(t)
        
        # This all needs to be outside the function, or at least the loop ***
        df['noun_phrases'] = [chunk.text for chunk in doc.noun_chunks]
        df['entities'] = [entity.text for entity in doc.ents]
        df['entity_label'] = [entity.label_ for entity in doc.ents]

In [33]:
title_deconstruct(df['title'])

ValueError: Length of values (2) does not match length of index (509236)